@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2><img src="~/images/RSolver-logo-spanish-300.png" /></h2>
            <p>&nbsp;</p>
            <h3>Tecnología Cognitiva Avanzada</h3>
            <p>
                <strong>Tecnología Cognitiva Avanzada</strong> con Inteligencia Artificial <br />
                que procesa, caracteriza, y realmente comprende el <br />
                contenido y argumentos en textos y comentarios de sus clientes.
            </p>
        </header>
        <span class="image"><img src="~/images/RSolver-pic01.jpg" alt="" /></span>
    </div>
    <a href="#demos" class="goto-next scrolly">Next</a>
</section>

<!-- Four -->
<section id="demos" class="wrapper style2 special fade-up">
    <div class="container">
        <header class="major">
            <h2>Experimente las herramientas de R:Solver directamente</h2>
            <p>Pruebe por su cuenta</p>
        </header>
        <div class="box alt">
            <div class="row uniform">
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-book"></span>
                    <h3>Entendimiento de contenido documental</h3>
                    <p>Pruebe la interpretación del contenido de un documento con R:Docs.
                    <p><a href="~/RDocs" class="button alternative">Ver demo</a></p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-comments"></span>
                    <h3>Interpretación Emocional de Comentarios</h3>
                    <p>Comprensión de emociones, intenciones, y sentimientos de comentarios con R:Alize.</p>
                    <p><a href="~/RAlize" class="button alternative">Ver demo</a></p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-envelope"></span>
                    <h3>Atención de mensajería</h3>
                    <p>Entendimiento de mensajería de clientes con R:Alize</p>
                    <p><a href="~/RAlizeMsg" class="button alternative">Ver demo</a></p>
                </section>
            </div>
            <div class="row uniform">
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-book"></span>
                    <h3>Evaluación inteligente de conocimientos</h3>
                    <p>Pruebe AIKER, la plataforma de generación y evaluación de conocimiento preguntas abiertas.</p>
                    <p><a href="http://aiker.rsolver.com/Aiker/BasicDemo.aspx" class="button alternative">&gt; Ir a demo</a></p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-eye"></span>
                    <h3>Medición emocional de humanos</h3>
                    <p>Evaluación de emocionalidad por visión computacional con R:Vision</p>
                    <p><a href="~/#" class="button alternative">Ver demo</a></p>
                </section>
            </div>
        </div>
</section>

