@page
@model RDemosNET.LoginModel
@{
    ViewData["Title"] = "Inicio Sesión | Tecnología Cognitiva de R:Solver";
}

<div id="main" class="wrapper style1">
    <div class="container">


        <!-- Main -->
        <div class="row 150%">
            <div class="6u 12u$(medium)">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Ingreso</h3>
                        <form enctype="multipart/form-data" method="post">
                            <dl>
                                <dd>
                                    <input id="txtUsername" type="text" placeholder="Email" />
                                </dd>
                                <dd>
                                    <input id="txtPasword" type="password" placeholder="Contraseña" />
                                </dd>
                                <dd>
                                    <input id="cmdLogin" type="submit" class="button alternative" value="Ingresar" />
                                </dd>
                            </dl>
                        </form>
                    </section>
                </section>

            </div>
        </div>
    </div>
</div>
