@page
@model RDemosNET.RAlizeMsgModel
@{

        ViewData["Title"] = "R:Alize | Demostración de Entendimiento de Lenguaje Humano en Mensajes";
}


<div id="main" class="wrapper style1">
    <div class="container">


        <!-- Main -->
        <header class="major">
            <h2>Demostración de R:Alize MSG</h2>
            <p>Entendimiento &amp; Inteligencia de Lenguaje</p>
        </header>
        <div class="row 150%">
            <div class="6u 12u$(medium)">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Mensaje a procesar</h3>
                        <form enctype="multipart/form-data" method="post">
                            <dl>
                                <dd>
                                    <textarea name="txtContents" id="txtContents" placeholder="Pegue el mensaje del cliente aquí..." rows="6"></textarea>
                                </dd>
                                <dd>
                                    <input id="cmdProcess" type="submit" class="button special" value="Interpretar" asp-page-handler="ProcessDocument" />
                                    <input id="cmdRandomSample" type="submit" value="Ejemplo Aleatorio" asp-page-handler="RandomSample" />
                                </dd>
                            </dl>
                        </form>
                    </section>
                </section>

            </div>
            <div class="6u$ 12u$(medium) important(medium)">

                <!-- Content -->
                <section id="content">
                    <h3>Análisis de Mensaje de Cliente</h3>
                    <blockquote>@Model.MessageContents</blockquote>
                    <p>@Model.MessageDescription</p>
                </section>
            </div>
        </div>
    </div>
</div>


